<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>About Page</h1>
    <h2>Welcome to Martha's Good Eats.</h2>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
